﻿<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Porto - Photo Gallery HTML Template</title>
	<meta charset="UTF-8">
	<meta name="description" content="Porto Photo Gallery HTML Template">
	<meta name="keywords" content="porto, photo, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="../img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="~/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="~/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="~/css/owl.carousel.min.css"/>
	<link rel="stylesheet" href="~/css/fullpage.min.css"/>
	<link rel="stylesheet" href="~/css/magnific-popup.css"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="~/css/style.css"/>


	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section -->
	<header class="header-section header-default-bg set-bg" data-setbg="../img/header-bg.jpg">
		<div class="header-warp">
			<!-- logo -->
		    <a class="site-logo" asp-area="" asp-controller="Home" asp-action="Index">
		        <img src="../img/logo.png" alt="">
		    </a>
		    <div class="header-social">
		        @if (!User.Identity.IsAuthenticated)
		        {
		        <a class="fa fa-dribbble" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
		        }
		        @if (User.Identity.IsAuthenticated)
		        {
		        <li class="nav-item">
		            <a class="fa fa-dribbble" asp-area="" asp-controller="Home" asp-action="Logoff">LogOff</a>
		        </li>
		        }
		    </div>
			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>
			<!-- menu -->
			<ul class="main-menu">
			    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
			    <li><a asp-area="" asp-controller="Portfolio" asp-action="Portfolio">Portfolio</a></li>
			    <li><a asp-area="" asp-controller="Appointments" asp-action="TeamAppointments">Team Appointments</a></li>
			    <li><a asp-area="" asp-controller="Home" asp-action="Blog">Blog</a></li>
			</ul>
		</div>
	</header>
	<!-- Header Section end-->
    
	<!-- Blog section-->
    <section class="blog-page set-bg">
       <div class="container">
		   <div class="row">
			   <div class="col-lg-9">
				   <div class="blog-item">
					   <div class="blog-thumb">
						   <img src="../img/blog/1.jpg" alt="">
						   <div class="blog-date">December 22, 2018</div>
					   </div>
					   <div class="blog-content">
						   <h3>Macro photography for begginers</h3>
						   <div class="blog-metas">
							   <div class="blog-meta">In Photography</div>
							   <div class="blog-meta">By James Smith</div>
							</div>
						   <p>Maecenas facilisis facilisis consequat. Curabitur fringilla pellentesque neque, imperdiet efficitur urna gravida vel. Cras augue diam, sollicitudin sit amet felis ut, eleifend faucibus dui. Proin euismod suscipit lacus, et scelerisque nisi aliquam a. Nunc feugiat mattis quam, ut luctus enim ultrices at.</p>
						   <a href="#" class="site-btn sb-dark"><span>Read More</span></a>
					   </div>
				   </div>
				   <div class="blog-item">
					<div class="blog-thumb">
						<img src="../img/blog/2.jpg" alt="">
						<div class="blog-date">December 22, 2018</div>
					</div>
					<div class="blog-content">
						<h3>Macro photography for begginers</h3>
						<div class="blog-metas">
							<div class="blog-meta">In Photography</div>
							<div class="blog-meta">By James Smith</div>
						 </div>
						<p>Maecenas facilisis facilisis consequat. Curabitur fringilla pellentesque neque, imperdiet efficitur urna gravida vel. Cras augue diam, sollicitudin sit amet felis ut, eleifend faucibus dui. Proin euismod suscipit lacus, et scelerisque nisi aliquam a. Nunc feugiat mattis quam, ut luctus enim ultrices at.</p>
						<a href="#" class="site-btn sb-dark"><span>Read More</span></a>
					</div>
				</div>
				<div class="blog-item">
					<div class="blog-thumb">
						<img src="../img/blog/3.jpg" alt="">
						<div class="blog-date">December 22, 2018</div>
					</div>
					<div class="blog-content">
						<h3>Macro photography for begginers</h3>
						<div class="blog-metas">
							<div class="blog-meta">In Photography</div>
							<div class="blog-meta">By James Smith</div>
						 </div>
						<p>Maecenas facilisis facilisis consequat. Curabitur fringilla pellentesque neque, imperdiet efficitur urna gravida vel. Cras augue diam, sollicitudin sit amet felis ut, eleifend faucibus dui. Proin euismod suscipit lacus, et scelerisque nisi aliquam a. Nunc feugiat mattis quam, ut luctus enim ultrices at.</p>
						<a href="#" class="site-btn sb-dark"><span>Read More</span></a>
					</div>
				</div>
				<div class="site-pagination">
					<a class="active" href="">01.</a>
					<a href="">02.</a>
					<a href="">03.</a>
				</div>
			   </div>
			   <div class="col-lg-3 col-md-6 sidebar">
					<div class="sb-widget">
						<form class="sb-search">
							<input type="text" placeholder="Search">
						</form>
					</div>
					<div class="sb-widget">
						<h3 class="sb-title">Categories</h3>
						<ul>
							<li><a href="">Photography</a></li>
							<li><a href="">Tips & Tricks</a></li>
							<li><a href="">Social Events</a></li>
							<li><a href="">Uncategorized</a></li>
						</ul>
					</div>
					<div class="sb-widget">
						<h3 class="sb-title">Latest Posts</h3>
						<div class="sb-latest-post">
							<div class="sbl-item">
								<img src="../img/blog/widget/1.jpg" alt="">
								<span>December 22, 2018</span>
								<h4>10 Tips to get a better shot</h4>
								<p>Maecenas facilisis facilisis </p>
							</div>
						</div>
					</div>
					<div class="sb-widget">
						<h3 class="sb-title">Archive</h3>
						<ul>
							<li><a href="">November 1018</a></li>
							<li><a href="">September 2018</a></li>
							<li><a href="">August 2018</a></li>
							<li><a href="">July 2018</a></li>
						</ul>
					</div>
			   </div>
		   </div>
	   </div>
	</section>
	<!-- Blog section end-->
	
	<!-- Footer Section -->
	<footer class="footer-section set-bg" data-setbg="../img/footer-bg.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="footer-about">
						<img src="../img/logo.png" alt="">
						<p>Maecenas facilisis facilisis consequat. Curabitur fringilla pellen-tesque neque, imperdiet efficitur urna gravida vel. Cras augue diam, sollicitudin sit amet felis ut, eleifend faucibus dui. Proin euis-mod suscipit lacus, et scelerisque nisi aliquam a. Nunc feugiat mattis quam, ut luctus enim ultrices at.</p>
					</div>	
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-info">
						<h6>Talk to us </h6>
						<ul>
							<li>+34 5667 4332 244</li>
							<li>Contact@sportify25.com</li>
							<li>office@sportify25.com</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-info">
						<h6>Location</h6>
						<ul>
							<li>MAin str. 25</li>
							<li>458811 CA</li>
						</ul>
					</div>
				</div>

			</div>


<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

		</div>
	</footer>
	<!-- Footer Section end-->


	<!--====== Javascripts & Jquery ======-->
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/owl.carousel.min.js"></script>
	<script src="../js/mixitup.min.js"></script>
	<script src="../js/masonry.pkgd.min.js"></script>
	<script src="../js/fullpage.min.js"></script>
	<script src="../js/main.js"></script>

	</body>
</html>
