﻿<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>StudioFly</title>
	<meta charset="UTF-8">
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/owl.carousel.min.css"/>
	<link rel="stylesheet" href="css/fullpage.min.css"/>
	<link rel="stylesheet" href="css/magnific-popup.css"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="css/style.css"/>


	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body class="home-page">
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section -->
    <header class="header-section">
        <div class="header-warp">
            <!-- logo -->
            <a class="site-logo" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/img/logo.png" alt="">
            </a>

            <!-- menu -->
            <ul class="main-menu">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Portfolio" asp-action="Portfolio">Portfolio</a></li>
                <li><a asp-area="" asp-controller="Appointments" asp-action="TeamAppointments">Team Appointments</a></li>
                @*<li><a asp-area="" asp-controller="Home" asp-action="Blog">Blog</a></li>*@
                @if (!User.Identity.IsAuthenticated)
                {
                    <a class="fa fa-dribbble" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                }
                @if (Context.User.Identity.IsAuthenticated)
                {
                    @*var idToken = await Microsoft.AspNetCore.Authentication.AuthenticationHttpContextExtensions.GetTokenAsync(Context, "id_token");
                    var accessToken = await Microsoft.AspNetCore.Authentication.AuthenticationHttpContextExtensions.GetTokenAsync(Context, "access_token");
                    <h6>@idToken</h6>
                    <h6>@accessToken</h6>*@
                    <li style="padding-left: 100px"><h5 style="color: #fff">Welcome @Model.LoggedInUserModel.Username   </h5></li>
                    <li class="nav-item">
                        <a class="fa fa-dribbble" asp-area="" asp-controller="Home" asp-action="Logoff" style="padding-left: 15px">LogOff</a>
                    </li>
                }
            </ul>
        </div>
    </header>
	<!-- Header Section end-->
	                    
	<div id="fullpage">
		<!-- Hero section -->
		<div class="section fp-auto-height" id="hero-section">
			<div class="hero-slider owl-carousel">
				<div class="hs-item set-bg" data-setbg="./img/slider/1.jpg">
					<div class="container text-white">
					    <h1>Cheia succesului in minunata lume a unghiilor este autodepasirea,
					        dorinta de evolutie si tinerea pasului cu tot ce este nou! </h1>
					</div>
				</div>
				<div class="hs-item set-bg" data-setbg="./img/slider/2.jpg">
					<div class="container text-white">
						<h2>Inspired by the heights of quality nail styling</h2>
					</div>
				</div>
			</div>
			<div class="slide-num-holder" id="snh-1"></div>
			<div class="down-sign">
				<h6>Discover</h6>
				<img src="img/icons/arrow-down.png" alt="">
			</div>
			<div class="contact-link">
				<p>Contact me</p>
				<a href="#footer"><img src="img/contact.jpg" alt=""></a>
			</div>
		</div>
		<!-- Hero section end -->
		
		<!-- About one Section -->
		<div class="section about-section about-one set-bg" data-setbg="./img/section-bg/1.jpg">
			<div class="about-content-warp text-dark">
				<h2>Artistic Nails</h2>
				<p>Crafted with passion to reflect positive energy and an awesome personality</p>
			</div>
		</div>
		<!-- About one Section end-->

	<!-- Footer Section -->
	<footer id="footer" class="footer-section set-bg" data-setbg="img/footer-bg.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="footer-about">
						<img src="img/logo.png" alt="">
					</div>	
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-info">
						<h6>Talk to us </h6>
						<ul>
							<li>0765 977 672</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-info">
						<h6>Location</h6>
						<ul>
						    <li>Str. Caragiale Ion Luca Nr.8</li>
						    <li>Brasov, Romania</li>
						</ul>
					</div>
				</div>
			</div>


<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

		</div>
	</footer>
	<!-- Footer Section end-->


	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/mixitup.min.js"></script>
	<script src="js/masonry.pkgd.min.js"></script>
	<script src="js/fullpage.min.js"></script>
	<script src="js/main.js"></script></div>

</body>
</html>
