﻿@model StudioFly.Adapters.ViewModels.CreateAppointmentsViewModel
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>StudioFly</title>
    <meta charset="UTF-8">
    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="shortcut icon" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Stylesheets -->
    @*<link rel="stylesheet" href="~/css/bootstrap.min.css" />*@
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/fullpage.min.css" />
    <link rel="stylesheet" href="~/css/magnific-popup.css" />

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/bower_components/tui-time-picker/dist/tui-time-picker.css">
    <link rel="stylesheet" href="~/bower_components/tui-date-picker/dist/tui-date-picker.css">
    <link rel="stylesheet" href="~/bower_components/tui-calendar/dist/tui-calendar.css">
    <link rel="stylesheet" type="text/css" href="~/css/default.css">
    <link rel="stylesheet" type="text/css" href="~/css/icons.css">
</head>

<body class="home-page">
    @{
        var modelId = Model.LoggedInUserModel.Id;
        var isAdmin = Model.LoggedInUserModel.IsAdmin;
    }
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section -->
    <header class="header-section">
        <div class="header-warp">
            <!-- logo -->
            <a class="site-logo" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/img/logo.png" alt="">
            </a>

            <!-- menu -->
            <ul class="main-menu">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Portfolio" asp-action="Portfolio">Portfolio</a></li>
                <li><a asp-area="" asp-controller="Appointments" asp-action="TeamAppointments">Team Appointments</a></li>
                @*<li><a asp-area="" asp-controller="Home" asp-action="Blog">Blog</a></li>*@
                @if (!User.Identity.IsAuthenticated)
                {
                    <a class="fa fa-dribbble" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <li style="padding-left: 100px"><h5 style="color: #fff">Welcome @Model.LoggedInUserModel.Username   </h5></li>
                    <li class="nav-item">
                        <a class="fa fa-dribbble" asp-area="" asp-controller="Home" asp-action="Logoff" style="padding-left: 15px">LogOff</a>
                    </li>
                }
            </ul>
        </div>
    </header>
    <!-- Header Section end-->
    <section class="portfilio-page-appointments">
        <div class="portfolios-area ">
            <div id="lnb">
                <div class="lnb-new-schedule">
                    <button id="btn-new-schedule" type="button" class="btn btn-default btn-block lnb-new-schedule-btn" data-toggle="modal">
                        New schedule
                    </button>
                </div>
                <div id="lnb-calendars" class="lnb-calendars">
                    <div>
                        <div class="lnb-calendars-item">
                            <label>
                                <input class="tui-full-calendar-checkbox-square" type="checkbox" value="all" checked>
                                <span></span>
                                <strong>View all</strong>
                            </label>
                        </div>
                    </div>
                    <div id="calendarList" class="lnb-calendars-d1">
                    </div>
                </div>
            </div>
            <div id="right">
                <div id="menu">
                    <span class="dropdown">
                        <button id="dropdownMenu-calendarType" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i id="calendarTypeIcon" class="calendar-icon ic_view_week" style="margin-right: 4px;"></i>
                            <span id="calendarTypeName">Weekly</span>&nbsp;
                            <i class="calendar-icon tui-full-calendar-dropdown-arrow"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu-calendarType">
                            <li role="presentation">
                                <a class="dropdown-menu-title" role="menuitem" data-action="toggle-daily">
                                    <i class="calendar-icon ic_view_day"></i>Daily
                                </a>
                            </li>
                            <li role="presentation">
                                <a class="dropdown-menu-title" role="menuitem" data-action="toggle-weekly">
                                    <i class="calendar-icon ic_view_week"></i>Weekly
                                </a>
                            </li>
                            <li role="presentation">
                                <a class="dropdown-menu-title" role="menuitem" data-action="toggle-monthly">
                                    <i class="calendar-icon ic_view_month"></i>Month
                                </a>
                            </li>
                            <li role="presentation">
                                <a class="dropdown-menu-title" role="menuitem" data-action="toggle-weeks2">
                                    <i class="calendar-icon ic_view_week"></i>2 weeks
                                </a>
                            </li>
                            <li role="presentation">
                                <a class="dropdown-menu-title" role="menuitem" data-action="toggle-weeks3">
                                    <i class="calendar-icon ic_view_week"></i>3 weeks
                                </a>
                            </li>
                            <li role="presentation" class="dropdown-divider"></li>
                            <li role="presentation">
                                <a role="menuitem" data-action="toggle-workweek">
                                    <input type="checkbox" class="tui-full-calendar-checkbox-square" value="toggle-workweek" checked="">
                                    <span class="checkbox-title"></span>Show weekends
                                </a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" data-action="toggle-start-day-1">
                                    <input type="checkbox" class="tui-full-calendar-checkbox-square" value="toggle-start-day-1">
                                    <span class="checkbox-title"></span>Start Week on Monday
                                </a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" data-action="toggle-narrow-weekend">
                                    <input type="checkbox" class="tui-full-calendar-checkbox-square" value="toggle-narrow-weekend">
                                    <span class="checkbox-title"></span>Narrower than weekdays
                                </a>
                            </li>
                        </ul>
                    </span>
                    <span id="menu-navi">
                        <button type="button" class="btn btn-default btn-sm move-today" data-action="move-today">Today</button>
                        <button type="button" class="btn btn-default btn-sm move-day" data-action="move-prev">
                            <i class="calendar-icon ic-arrow-line-left" data-action="move-prev"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm move-day" data-action="move-next">
                            <i class="calendar-icon ic-arrow-line-right" data-action="move-next"></i>
                        </button>
                    </span>
                    <span id="renderRange" class="render-range"></span>
                </div>
                <div id="calendar"></div>
            </div>
            <div id="createSchedule" class="modal" tabindex="-1" role="dialog" data-backdrop="false">
                <input type="hidden" id="userId" runat="server" value=@modelId />
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Create Schedule</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="appointmentType" class="col-sm-2 control-label">Type</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="Appointment Type" id="appointmentType">
                                            <option value="">--Select--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="feature" class="col-sm-2 control-label">Feature</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="Feature Name" id="feature">
                                            <option value="">--Select--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="employee" class="col-sm-2 control-label">Employee</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="Employee" id="employee">
                                            <option value="">--Select--</option>
                                        </select>
                                    </div>
                                </div>
                                @if (isAdmin)
                                {
                                    <div class="form-group">
                                        <label for="client" class="col-sm-2 control-label">Client</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" name="Client" id="client">
                                                <option value="">--Select--</option>
                                            </select>
                                        </div>
                                    </div>
                                }

                                <div class="form-group">
                                    <label for="datepicker-input" class="col-sm-2 control-label">Start date</label>
                                    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
                                        <input type="text" id="datepicker-input" aria-label="Date-Time">
                                        <span class="tui-ico-date"></span>
                                    </div>
                                    <div id="wrapper" style="margin-top: -1px;"></div>
                                </div>
                                <div class="form-group">
                                    <label for="datepicker-input-2" class="col-sm-2 control-label">End date</label>
                                    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
                                        <input type="text" id="datepicker-input-2" aria-label="Date-Time">
                                        <span class="tui-ico-date"></span>
                                    </div>
                                    <div id="wrapper-2" style="margin-top: -1px;"></div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button id="btn-save-schedule" type="button" class="btn btn-default">Save Schedule</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Section -->

    <footer id="footer" class="footer-section set-bg footer-section-for-appointments" data-setbg="../img/footer-bg.jpg" style="margin-top: 680px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="footer-about">
                        <img src="~/img/logo.png" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h6>Talk to us </h6>
                        <ul>
                            <li>0765 977 672</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h6>Location</h6>
                        <ul>
                            <li>Str. Caragiale Ion Luca Nr.8</li>
                            <li>Brasov, Romania</li>
                        </ul>
                    </div>
                </div>
            </div>


            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

        </div>
    </footer>
    <!-- Footer Section end-->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.13/chance.min.js"></script>
    <script src="~/bower_components/tui-code-snippet/dist/tui-code-snippet.js"></script>
    <script type="text/javascript" src="~/bower_components/tui-dom/dist/tui-dom.min.js"></script>
    <!-- If you use the default popups, use this. -->
    <script type="text/javascript" src="~/bower_components/tui-time-picker/dist/tui-time-picker.min.js"></script>
    <script type="text/javascript" src="~/bower_components/tui-date-picker/dist/tui-date-picker.min.js"></script>
    <script type="text/javascript" src="~/bower_components/tui-calendar/dist/tui-calendar.js"></script>
    <script type="text/javascript" src="~/js/team-appointments.js"></script>
    <!--====== Javascripts & Jquery ======-->
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/masonry.pkgd.min.js"></script>
    <script src="~/js/fullpage.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>

