﻿@using IdentityServer4.Extensions
@model StudioFly.Authentication.Services.Quickstart.Account.LoginViewModel
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>StudioFly</title>
    <meta charset="UTF-8">
    <!-- Favicon -->
    <link href="https://localhost:23001" rel="shortcut icon" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <link rel="stylesheet" href="../css/owl.carousel.min.css" />
    <link rel="stylesheet" href="../css/fullpage.min.css" />
    <link rel="stylesheet" href="../css/magnific-popup.css" />

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="../css/style.css" />


    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="home-page">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section -->
    <header class="header-section">
        <div class="header-warp">
            <!-- logo -->
            <a class="site-logo" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="../img/logo.png" alt="">
            </a>
        </div>
    </header>
    <section class="portfilio-page">
        <div class="portfolios-area">
            <div class="grid-sizer"></div>
            <div class="grid-item portfolio-item __big __wide">
                <div class="portfolio-intro text-white">
                    @if (Model.EnableLocalLogin)
                    {
                        <h1>Login</h1>
                        <form asp-route="Login">
                            <input type="hidden" asp-for="ReturnUrl" />
                            <fieldset>
                                <div class="form-group">
                                    <label asp-for="Username"></label>
                                    <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                                </div>
                                @if (Model.AllowRememberLogin)
                                {
                                    <div class="form-group login-remember">
                                        <label asp-for="RememberLogin"></label>
                                    </div>
                                }
                                <div class="form-group">
                                    <button class="btn btn-primary" name="button" value="login">Login</button>
                                    <button class="btn btn-default" name="button" value="cancel">Cancel</button>
                                </div>
                            </fieldset>
                        </form>
                    }
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer id="footer" class="footer-section set-bg" data-setbg="../img/footer-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="footer-about">
                        <img src="~/img/logo.png" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h6>Talk to us </h6>
                        <ul>
                            <li>0765 977 672</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h6>Location</h6>
                        <ul>
                            <li>Str. Caragiale Ion Luca Nr.8</li>
                            <li>Brasov, Romania</li>
                        </ul>
                    </div>
                </div>
            </div>


            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

        </div>
    </footer>
    <!-- Footer Section end-->
    <!--====== Javascripts & Jquery ======-->
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/masonry.pkgd.min.js"></script>
    <script src="~/js/fullpage.min.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>