﻿@model IEnumerable<StudioFly.Adapters.Models.User.EmployeeModel>
<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>StudioFly - Portfolio</title>
	<meta charset="UTF-8">
	<!-- Favicon -->
	<link href="~/img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="~/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="~/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="~/css/owl.carousel.min.css"/>
	<link rel="stylesheet" href="~/css/fullpage.min.css"/>
	<link rel="stylesheet" href="~/css/magnific-popup.css"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="~/css/style.css"/>


	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body class="home-page">
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section -->
    <header class="header-section">
        <div class="header-warp">
            <!-- logo -->
            <a class="site-logo" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/img/logo.png" alt="">
            </a>

            <!-- menu -->
            <ul class="main-menu" style="padding-right: 300px">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Portfolio" asp-action="Portfolio">Portfolio</a></li>
                <li><a asp-area="" asp-controller="Appointments" asp-action="TeamAppointments">Team Appointments</a></li>
                <li>@*<a asp-area="" asp-controller="Home" asp-action="Blog">Blog</a>*@</li>
                @if (!User.Identity.IsAuthenticated)
                {
                    <a class="fa fa-dribbble" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="fa fa-dribbble" asp-area="" asp-controller="Home" asp-action="Logoff">LogOff</a>
                    </li>
                }
            </ul>
        </div>
    </header>
	<!-- Header Section end-->
    
	
	<!-- portfolio Section -->
    <section class="portfilio-page">
        <div class="portfolios-area">
            <div class="grid-sizer"></div>
            <div class="grid-item portfolio-item __big __wide">
                <div class="portfolio-intro text-white">
                    <span>Professional Nail Styling</span>
                    <h2>Portfolio</h2>
                    <ul class="portfolio-filter controls">
                        @{
                            var userNameFirst = Model.ToList()[0].User.Username;
                            var userNameSecond = Model.ToList()[1].User.Username;
                            var userNameThird = Model.ToList()[2].User.Username;

                        }
                        <li class="control" data-filter="all">All</li>
                        <li class="control" data-filter=".sensual">@userNameFirst</li>
                        <li class="control" data-filter=".nature">@userNameSecond</li>
                        <li class="control" data-filter=".portraits">@userNameThird</li>
                    </ul>
                </div>
            </div>
            <!-- Item -->
            @foreach (var item in Model)
            {
                if (item.User.Username == userNameFirst)
                {
                    foreach (var employeePortfolio in item.EmployeePortfolio)
                    {
                        if (item.EmployeePortfolio.Count > 5 && (item.EmployeePortfolio[4].PortfolioPath == employeePortfolio.PortfolioPath))
                            {
                                break;
                            }
                            else
                            {
                            <a href="../Portfolio/Employee?employeeName=@userNameFirst" class="grid-item mix portfolio-item __big set-bg sensual" data-setbg="../../@employeePortfolio.PortfolioPath.Replace("\\", "/")"></a>
                        }
                    }
                }
                if (item.User.Username == userNameSecond)
                {
                    foreach (var employeePortfolio in item.EmployeePortfolio)
                    {
                        if (item.EmployeePortfolio.Count>5 &&(item.EmployeePortfolio[4].PortfolioPath == employeePortfolio.PortfolioPath))
                        {
                            break;
                        }
                        else
                        {
                            <a href="../Portfolio/Employee?employeeName=@userNameSecond" class="grid-item mix portfolio-item __big set-bg nature" data-setbg="../@employeePortfolio.PortfolioPath.Replace("\\", "/")"></a>
                        }
                    }
                }
                if (item.User.Username == userNameThird)
                {
                    foreach (var employeePortfolio in item.EmployeePortfolio)
                    {
                        if (item.EmployeePortfolio.Count > 5 && (item.EmployeePortfolio[4].PortfolioPath == employeePortfolio.PortfolioPath))
                            {
                                break;
                            }
                            else
                            {
                            <a href="../Portfolio/Employee?employeeName=@userNameThird" class="grid-item mix portfolio-item __big set-bg portraits" data-setbg="../@employeePortfolio.PortfolioPath.Replace("\\", "/")"></a>
                        }
                    }
                }
            }
        </div>
	</section>
    
	<!-- Footer Section -->
<footer id="footer" class="footer-section set-bg" data-setbg="../img/footer-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="footer-about">
                    <img src="~/img/logo.png" alt="">
                </div>	
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-info">
                    <h6>Talk to us </h6>
                    <ul>
                        <li>0765 977 672</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-info">
                    <h6>Location</h6>
                    <ul>
                        <li>Str. Caragiale Ion Luca Nr.8</li>
                        <li>Brasov, Romania</li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

    </div>
</footer>
	<!-- Footer Section end-->


	<!--====== Javascripts & Jquery ======-->
	<script src="~/js/jquery-3.2.1.min.js"></script>
	<script src="~/js/owl.carousel.min.js"></script>
	<script src="~/js/mixitup.min.js"></script>
	<script src="~/js/masonry.pkgd.min.js"></script>
	<script src="~/js/fullpage.min.js"></script>
	<script src="~/js/main.js"></script>

	</body>
</html>
